:root {
  --primary-color: rgb(0, 170, 255);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cookie", cursive;
}
.App {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#light {
  background-color: #ffffff;
}

#dark {
  background-color: #333;
}

.switch {
  position: absolute;
  top: 15px;
  right: 50px;
}

.switch label {
  font-size: x-large;
  margin: 10px;
}

#light .switch label {
  color: black;
}

#dark .switch label {
  color: white;
}

@media only screen and (max-width: 768px) {
  .App {
    display: block;
  }
}
